In [39]:
import pandas as pd
import numpy as np

In [40]:
jan_2019 = "data/jan_2019.csv"
feb_2019 = "data/feb_2019.csv"
mar_2019 = "data/mar_2019.csv"
apr_2019 = "data/apr_2019.csv"
may_2019 = "data/may_2019.csv"
june_2019 = "data/june_2019.csv"
july_2019 = "data/july_2019.csv"
aug_2019 = "data/aug_2019.csv"
sept_2019 = "data/sept_2019.csv"
oct_2019 = "data/oct_2019.csv"
nov_2019 = "data/nov_2019.csv"
dec_2019 = "data/dec_2019.csv"

In [41]:
jan_2019_df = pd.read_csv(jan_2019)
feb_2019_df = pd.read_csv(feb_2019)
mar_2019_df = pd.read_csv(mar_2019)
apr_2019_df = pd.read_csv(apr_2019)
may_2019_df = pd.read_csv(may_2019)
june_2019_df = pd.read_csv(june_2019)
july_2019_df = pd.read_csv(july_2019)
aug_2019_df = pd.read_csv(aug_2019)
sept_2019_df = pd.read_csv(sept_2019)
oct_2019_df = pd.read_csv(oct_2019)
nov_2019_df = pd.read_csv(nov_2019)
dec_2019_df = pd.read_csv(dec_2019)

jan_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,18:00.1,26:25.9,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,36:33.3,49:10.3,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,43:38.6,09:54.5,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,43:39.6,09:46.5,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [42]:
citibike_2019_df = pd.concat([jan_2019_df, feb_2019_df, mar_2019_df, apr_2019_df, may_2019_df, june_2019_df, july_2019_df, aug_2019_df, sept_2019_df, oct_2019_df, nov_2019_df, dec_2019_df ])

citibike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,18:00.1,26:25.9,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,36:33.3,49:10.3,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,43:38.6,09:54.5,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,43:39.6,09:46.5,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [43]:
citibike_2019_df['Dates'] = pd.to_datetime(citibike_2019_df['starttime']).dt.date
citibike_2019_df['Time'] = pd.to_datetime(citibike_2019_df['starttime']).dt.time
citibike_2019_df.head()

ValueError: hour must be in 0..23